#list li:first-child #remove {
  display: none;
}

form > * {
  font-family: "M+ 1p light";
  font-weight: bold;
}

input[type=range] {
  vertical-align: middle;
}

#add #remove {
  cursor: pointer;
}
